*.h5
*.npy
*.pkl
*.log
__pycache__

# vscode settings
.vscode

*.fuse_*
logs/*

# general things to ignore
build/
dist/
*.egg-info/
*.egg
*.py[cod]
__pycache__/
*.so
*~

# due to using tox and pytest
.tox
.cache